thead{
    background-color: darkcyan;
    color: white;
    

}
tr:nth-child(even){
    background-color:gainsboro;
}
th,td{
    padding: 10px;
}
table{
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 100px;
    top: 50px;
    

}
td,tr{
    border-bottom: 2px solid darkcyan;
}
.table{
    border-bottom: none;
    text-align: left;
}
h1{
    caption-side: top;
    text-align: center;
    position: relative;
    top: 40px;
}
