body{
    background-color: violet;
}
h1{
    color: white;
    text-align: center;
    font-size: 40px;
}
div{
    width: 350px;
    height: 400px;
    background-color: white;
    margin: 50px;
    border-radius: 5px;
}
img{
    background-position: left center;
    border-radius: 50%;
     border: solid 2.5px;
     border-color: blueviolet;
     margin-left: 110px;
     margin-top: 40px;
}
h3{
    color: violet;
    text-align: center;
}
i{ 
    font-size: 20px;
    color: violet;
}
button{
    background-color: violet;
    margin-left: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
#sub{
    border: solid 2.5px;
    background-color: none;
}