body{
    background-color: black;
}
div{
    width: 500px;
    height: 645px;
    background-color: white;
    margin-left: 370px;
    border-radius: 5px;
}
button{
   background-color: black;
   color: antiquewhite;
   border-radius: 5px;
   height: 40px; 
   width: 150px;
   margin-left: 40px;
}
p{
    text-align: justify;
    padding: 15px;
}
h4{
    color: gray;
  
}
img{
    border-radius: 5px;
}