body{
    background-color: grey;

}
div{
    background-color: white;
    width: 600px;
    height: 700px;
    margin-left: 300px;
}
.demo{
    list-style-type: upper-alpha;
}
#pp{
    list-style-type: upper-roman;
}
#sub{
    list-style-type: upper-alpha;

}
#uu{
    list-style-type: lower-roman;
}

