body{
    background-color:blueviolet;
    text-align: center;
}
h1{
    text-align: center;
    color: white;
}
div{
    background-color: white;
    height: 330px;
    width: 350px;
    margin: 50px;
    margin-left: 40px;

}
i{
    margin: 50px;
    font-size: 80px;
}
p{
    text-align: center;
}
button{
    background-color: black;
    text-align: center;
    color: white;
    
}